<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBtn" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
  <div class="collapse navbar-collapse " id="navBtn">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" id="home">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects">PORTFOLIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#blog">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contactUs">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
