.top-main-content {
  background-color: white;
  color: #333;
  padding: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  /* background-color: transparent !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  right: 2rem !important; */

}
.circle-bg {
  width: 3rem;
  height: 3rem;
  background-color: #F28674;
  border-radius: 50%;
  padding: 10px;
  box-sizing: border-box;
  display: inline-block;
}

.top-main-img img{
  max-width: 100%;
  width: 100%;
  height: auto;
}
#about{
  margin-top: 15rem !important;
}
#about h5{
  margin-left: 7rem;
}
#about .icons-row{
  margin-left: 6rem;
}
.project-container {
  margin: 0.5rem;
}



#projects img{
  width: 100% !important;
  height: 10rem !important;
}
#projects #landing{
  width: 100% !important;
  height: 10rem !important;
}

#hire, #download{
  padding: 0.5rem;
  width: 10rem;
  margin-top: 1rem;

}

#projects{
  margin-top: 15rem !important;
}

/* Flexbox Layout */

.blog{
  margin-top: 15rem;
  margin-bottom: 15rem;
}
.blog-row {

  display: flex;

  justify-content: flex-start;

  flex-wrap: wrap;
  margin-left: 7.3rem;

}


.blog-card {
  flex: 1 1 22%;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
}
.blog-card img{
  border-radius: 0.25rem;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}


.card-body {
  padding: 15px;
 text-align: left;
}
.card-title, .card-text, .nav-link {
  text-align: left;
}
.card-title{
  margin-bottom: 1rem;
}



.blog-row:hover .blog-card {
  opacity: 0.3;
}


.blog-row .blog-card:hover {
  opacity: 1;
}

.card-text small {
  color: #6a6a6a;
  margin-left: 1rem;
  text-align: left;
}


/* for mobile screens */
@media (max-width: 576px) {
.about i, .label-bold{
  margin-right: 5rem !important;
}
  .contact h5{
    margin-right: 10rem !important;

  }


      .dark-form{
        margin-right: 7rem !important;
      }
      .conDel{
        margin-right: 11rem !important;
        font-size: 1rem !important;
      }
      .contact-details{
        margin-right: 13rem !important;
      }
      #right-header{
        margin-right: 13rem !important;

      }
        .footer-icons {
            justify-content: center !important;

        }

        .footer-icons {

           margin-right: 8.2rem !important;
        }

        .footer-icons i{
          font-size:1rem !important;
        }
        .copy{
          margin-right: 9rem !important;
        }

      .project-container{
        margin-right: 3.3rem !important;
      }

}
