
 <div class="container-fluid-xl">

  <div class="body">
    <footer>
      <div class="copy">
        ASHRQAT FAWZY © 2024
      </div>

      <div class="footer-icons d-flex">
        <a href="https://www.facebook.com/ashrqat.fawzy" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://www.linkedin.com/in/ashrqat-fawzy-652b0a263/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/ashrqat-fawzy" target="_blank"><i class="fa-brands fa-square-github"></i></a>
        <a href="https://www.instagram.com/ashrqat_fawzy?igsh=MThhYWduZ2wzemVpdA==" target="_blank"><i class="fa-brands fa-instagram"></i></a>

      </div>

       <a routerLink="/form" target="_blank" class="btn-link">U Wanna This Portfolio?</a>



    </footer>

  </div>
  </div>
