<!-- Portfolio -->
<div class="container-fluid-xl">

  <div class="body">

<div class="container project" id="projects">
  <h5>PROJECTS</h5>

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#all" id="all">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#css" id="css">CSS</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#js" id="js">JS</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#bootstrap" id="bootstrap">Bootstrap</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#team" id="team">Team</a>
    </li>


  </ul>

  <div class="row">
    <!-- First Row -->

    <div class="col-sm-3 project-container">
      <img src="assets/img/fashion.jpg" alt="Image 1" class="img-fluid css">
      <div class="project-details css">
        <p class="project-title">Fashion Website</p>
        <p class="project-tech">HTML/CSS</p>
        <button class="learn-more">LEARN MORE</button>
      </div>
    </div>

    <div class="col-sm-3 project-container">
      <img src="assets/img/animal.jpg" alt="Image 2" class="img-fluid css">
      <div class="project-details css">
        <p class="project-title">Animal Website</p>
        <p class="project-tech">HTML/CSS</p>
        <button class="learn-more">LEARN MORE</button>
      </div>
    </div>

    <div class="col-sm-3 project-container">
      <img src="assets/img/landing-page.png" alt="Image 3" class="img-fluid css" id="landing">
      <div class="project-details css">
        <p class="project-title">Harry Potter Books</p>
        <p class="project-tech">HTML/CSS</p>
        <a href="https://wave-elite-blackbird.glitch.me/" target="_blank"><button class="learn-more">LEARN MORE</button></a>
      </div>
    </div>

    <div class="col-sm-3 project-container">
      <img src="assets/img/landing-bootstrap.jpg" alt="Image 4" class="img-fluid bootstrap">
      <div class="project-details bootstrap">
        <p class="project-title">Business Website</p>
        <p class="project-tech">HTML/CSS/Bootstrap</p>
        <a href="https://responsive-landing-page-liard.vercel.app/" target="_blank"> <button class="learn-more">LEARN MORE</button></a>

      </div>
    </div>



  <div class="row">
    <!-- Second Row -->
    <div class="col-sm-3 project-container">
      <img src="assets/img/quizapp.png" alt="Image 5" class="img-fluid js">
      <div class="project-details js">
        <p class="project-title">Quiz App</p>
        <p class="project-tech">HTML/CSS/JS</p>
        <a href="https://nine-burnt-caterpillar.glitch.me/" target="_blank"><button class="learn-more">LEARN MORE</button></a>

      </div>
    </div>

    <div class="col-sm-3 project-container">
      <img src="assets/img/todo-list.png" alt="Image 6" class="img-fluid js">
      <div class="project-details js">
        <p class="project-title">ToDO-List App</p>
        <p class="project-tech">HTML/CSS/Bootstrap/JS</p>
        <a href="https://todo-list-two-lilac.vercel.app/" target="_blank"><button class="learn-more">LEARN MORE</button></a>

      </div>
    </div>


    <div class="col-sm-3 project-container">
      <img src="assets/img/calc.png" alt="Image 7" class="img-fluid js">
      <div class="project-details js">
        <p class="project-title">Calculator App</p>
        <p class="project-tech">HTML/CSS/JS</p>
        <a href="https://spiced-trusted-stoat.glitch.me/" target="_blank"><button class="learn-more">LEARN MORE</button></a>

      </div>
    </div>

    <div class="col-sm-3 project-container">
      <img src="assets/img/game.jpg" alt="Image 8" class="img-fluid team">
      <div class="project-details team">
        <p class="project-title">Game Website </p>
        <p class="project-tech">HTML/CSS/JS/Backend</p>
        <a href="https://drive.google.com/file/d/1phpPLu_vUSIbpHz65G5RsDhF4_tJldtb/view?usp=sharing" target="_blank"><button class="learn-more">LEARN MORE</button></a>

      </div>
    </div>

  </div>
  </div>
