

<!-- start of dark -->
<div class="container-fluid-xl">

<div class="body">
  <!-- About section -->
  <div class="container about " id="about">
    <h5 class="display-2" id="aboutMe">About <strong>Me</strong></h5>

    <!-- Icons row -->
    <div class="row icons-row">
      <div class="col-md-3 card-icon-1">
        <img src="assets/img/speed.svg" class="circle-bg">

        <div class="label-bold">Fast</div>
        <p>Fast load times and lag-free interaction, my highest priority.</p>
      </div>

      <div class="col-md-3 card-icon-1">
        <!-- <i class="fa-solid fa-laptop-code"></i> -->
        <img src="assets/img/responsive.svg" class="circle-bg">
        <div class="label-bold">Responsive</div>
        <p>My layouts will work on any device, big or small.</p>
      </div>

      <div class="col-md-3 card-icon-1">
        <!-- <i class="fa-solid fa-lightbulb"></i> -->
        <img src="assets/img/ui.svg" class="circle-bg">
        <div class="label-bold">Intuitive</div>
        <p>Strong preference for easy-to-use, intuitive UX/UI.</p>
      </div>

      <div class="col-md-3 card-icon-1">
        <!-- <i class="fa-solid fa-rocket"></i> -->
        <img src="assets/img/dy.svg" class="circle-bg">
        <div class="label-bold">Dynamic</div>
        <p>Websites don't have to be static; I love making pages come to life.</p>
      </div>
    </div>
  </div>

  <!-- About details and progress bars -->
  <div class="container me-4" id="sec-about">
    <div class="row d-flex align-items-start">
      <!-- Image -->
      <div class="col-md-5 image-container">
        <img src="assets/img/ashrqat-about.jpeg" alt="Your Image Description" class="img-fluid" decoding="async">
      </div>

      <!-- Progress bars -->
      <div class="col-md-5 progress-container">
        <div class="progress mb-2">
          <div class="progress-bar " role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">HTML</div>
        </div>
        <div class="progress mb-2">
          <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">CSS</div>
        </div>
        <div class="progress mb-2">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">JS</div>
        </div>
        <div class="progress mb-2">
          <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">Framework</div>
        </div>
      </div>

      <!-- About content -->
      <div class="col-md-5 text-light about-content mt-5">
        <div class="que mb-3 ms-5">Who am I?</div>
        <i class="fa-solid fa-face-thinking text-light"></i>
        <p>I’m a frontend developer passionate about creating visually appealing and user-friendly websites. With expertise in HTML, CSS, and JavaScript, I transform complex requirements into seamless digital experiences.
          <br> My focus is on responsive design and performance optimization.</p>

        <!-- Buttons -->
        <div class="btns text-light">
          <button id="hire" class="btn btn-light">
            <a href="#contactUs" class="text-dark">HIRE ME</a>
          </button>
          <button id="download" class="btn btn-light ms-1">
            <a href="https://drive.google.com/file/d/1cIQz09Wtt4Wz5-07WtdoVHZPaiVWGEKE/view?usp=sharing" target="_blank" class="text-dark">DOWNLOAD CV</a>
          </button>
        </div>
      </div>
    </div>
  </div>
