<div class="container-fluid-xl">

  <div class="body">

    <!-- blog section -->
<div class="container blog" id="blog">
  <h5>Blog</h5>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <a href="https://medium.com/@codermatthew/breaking-your-coders-block-786cac82be3f" target="_blank"> <img src="assets/img/blog-1.jpg" class="card-img-top" alt="blog-1"></a>

        <div class="card-body">
          <a href="https://medium.com/@codermatthew/breaking-your-coders-block-786cac82be3f" target="_blank" class="nav-link" ><h6 class="card-title">Breaking Your Coder's Block
          </h6></a>

          <p class="card-text">At one time or another, as a developer, we've all found ourselves hopelessly stuck on a coding issue...</p>

        </div>
        <div class="card-text">
          <small class="">MARCH 19, 2015
          </small>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://medium.com/@codermatthew/awake-this-is-your-brain-on-caffeine-9b1f8f2f3f1e" target="_blank" > <img src="assets/img/blog-2.jpg" class="card-img-top" alt="blog-2"></a>

        <div class="card-body">
          <a href="https://medium.com/@codermatthew/awake-this-is-your-brain-on-caffeine-9b1f8f2f3f1e" target="_blank" class="nav-link" > <h6 class="card-title">!Awake: This is Your Brain on Caffeine
          </h6></a>

          <p class="card-text">If there's one thing I can truly claim to be an expert on, it's staying awake.</p>
        </div>
        <div class="card-text">
          <small class="">MARCH 19, 2015
          </small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://medium.com/@codermatthew/getting-a-handle-on-handlebars-mastering-html-templates-96b3a1e630d2" target="_blank"><img src="assets/img/blog-3.jpg" class="card-img-top" alt="blog-3"></a>

        <div class="card-body">
          <a href="https://medium.com/@codermatthew/getting-a-handle-on-handlebars-mastering-html-templates-96b3a1e630d2" target="_blank" class="nav-link" ><h6 class="card-title">Getting a Handle on Handlebars
          </h6></a>
          <p class="card-text">Handlebars.js, a compelling extension of Mustache template language, allows developers...</p>
        </div>
        <div class="card-text">
          <small class="">MARCH 04, 2015
          </small>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <a href="https://medium.com/@codermatthew/5-extensions-for-your-chrome-toolbelt-828871ce1ceb" target="_blank"> <img src="assets/img/blog-4.jpg" class="card-img-top" alt="blog-4"></a>

        <div class="card-body">
         <a href="https://medium.com/@codermatthew/5-extensions-for-your-chrome-toolbelt-828871ce1ceb" target="_blank" class="nav-link" > <h6 class="card-title">5 Extensions for Your Chrome Toolbelt
        </h6></a>
          <p class="card-text">If you're not using Google Chrome as a front-end web developer, you're missing out. Not only is Chrome the...</p>
        </div>
        <div class="card-text">
          <small class="">FEBRUARY 23, 2015
          </small>
        </div>
      </div>
    </div>

  </div>
</div>
    </div>
</div>
