
 <div class="container-fluid-xl">

  <div class="body">

    <!-- contact us -->

<div class="container contact" id="contactUs">
  <h5 class="display-2" id="aboutMe">Get <strong>In Touch</strong></h5>
    <div class="row">
      <div class="col-md-6">
        <h3 class="display-6">Get In Touch</h3>

        <form class="dark-form" action="https://formspree.io/f/movaobao" method="POST">
          <div class="mb-3">
            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required>
          </div>

          <div class="mb-3">
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Your Email" required>
          </div>

          <div class="mb-3">
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Your Phone" required>
          </div>

          <div class="mb-3">
            <textarea class="form-control" id="text-area" name="message" placeholder="Write a Message" required></textarea>
          </div>

          <button type="submit" class="btn btn-primary">SEND MESSAGE</button>
        </form>


      </div>


      <div class="col-md-5 text-light">
        <h3 class="display-6" id="right-header">My Contact Details</h3>
      <div class="contact-details">


        <div class="right-text">
          <p><strong>EMAIL</strong></p>
          <p class="normal"><a href="mailto:ashrqat.fawzy@gmail.com">ashrqat.fawzy&#64;gmail.com</a></p>
        </div>

        <div class="right-text">
          <p><strong>PHONE</strong></p>
          <p class="normal">+20 1223001987</p>
        </div>

        <div class="right-text">
          <p><strong>LinkedIn</strong></p>
          <a href="https://www.linkedin.com/in/ashrqat-fawzy-652b0a263/" target="_blank" class="text-light">ashrqat-fawzy</a>
        </div>
        </div>

      </div>


    <footer>
      <div class="copy">
        ASHRQAT FAWZY © 2024
      </div>

      <div class="footer-icons d-flex">
        <a href="https://www.facebook.com/ashrqat.fawzy" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://www.linkedin.com/in/ashrqat-fawzy-652b0a263/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/ashrqat-fawzy" target="_blank"><i class="fa-brands fa-square-github"></i></a>
        <a href="https://www.instagram.com/ashrqat_fawzy?igsh=MThhYWduZ2wzemVpdA==" target="_blank"><i class="fa-brands fa-instagram"></i></a>

      </div>

       <a routerLink="/form" target="_blank" class="btn-link">U Wanna This Portfolio?</a>



    </footer>

    </div>

</div>

  </div>
 </div>
